*{
  margin:0;
  padding: 0;
  
}
body{
  background-color: black;
  
}
.all{
  height: 900px;
  width: 100%;
  background-image: url('bluebg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 10px;
  border: 3px solid gold;
}
.one{
  width: 100%;
  height: 50%;
  background-color:red;
}
h1{
  font: bold;
  color: gold;
  padding-top: 40px;
  padding-right: 140px;
  font-family: Times New Roman;
  font-size: 100px;
  float: right;
}

.img-one{
  padding-top: 30px;
  padding-left: 30px;
  height: 450px;
  width: 94%;
  position: bottom;
  
}
.img-two{
  margin: 50px;
  height: 170px;
  width: 90%;
  position: center;
}
